<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["ControlPlanClientHost.styles.css"]" />
    <link href="_content/AntDesign/css/ant-design-blazor.dark.css" rel="stylesheet" id="antcss" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <AntContainer />
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
